:root {
  /* --Blue: hsl(223, 87%, 63%);

  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%); */

  
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
  font-family: 'Libre Franklin', sans-serif;
}

.text-Blue {
  color: var(--Blue);
}

.text-Pale-Blue {
  color: var(--Pale-Blue);
}

.text-Light-Red {
  color: var(--Light-Red);
}

.text-Gray {
  color: var(--Gray);
}

.text-Very-Dark-Blue {
  color: var(--Very-Dark-Blue);
}

.bg-Blue {
  background-color: blue;
}

.bg-Pale-Blue {
  background-color: var(--Pale-Blue);
}

.bg-Light-Red {
  background-color: var(--Light-Red);
}

.bg-Gray {
  background-color: var(--Gray);
}

.bg-Very-Dark-Blue {
  background-color: var(--Very-Dark-Blue);
}

.hover\:opacity-90:hover {
  opacity: 0.9;
}

.leading-8 {
  line-height: 2rem !important;
}

@media (min-width: 768px) {
  .md\:text-4\.5xl {
      font-size: 2.5rem;
  }

}
/* 
#page-container {
  position: absolute;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
} */

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;


  /* position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            */
}